.scroller-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
}

.scroller-container > * {
  scroll-snap-align: start;
  flex: 0 0 100%;
  width: 100vw;
  height: 100vh;
}

.scroller-item {
  height: 100%;
}
